.body{
    font-family: 'Montserrat', sans-serif;
    
    
}
#title{
    background: #ff4c68;
    color: white;
    
}
.head{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    padding-top: 4.5rem;
    padding-bottom: 0.5rem;
   
}
.container-flui{
    padding: 3% 15% 7%;
    
    
}

.navbar-bran{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

    text-decoration: none;
    
}
.navbar-bran:hover{
    text-decoration: none;
    color: whitesmoke;
}
.nav-item{
    padding: 0 18px;
    
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.rotated {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    padding-top: 4.5rem;
}
.dowmload-button{
    margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    background-color: white ;
}
.features-box{
    text-align: center;
    padding: 5%;
}
.head3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
.fa-4x{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-4x:hover{
    color:#ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}
.testimonial-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.pressl{
    width: 15%;
    margin: 20px 20px 50px;
}
.car{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
.section-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
@media(max-width: 1028px){
.rotated{
    position: static;
    transform: rotate(0);

}
#title{
    text-align: center;
}
}
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
.ctahead3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}
.but{
    margin: 2% 1%;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
    color: black;
  }
  .social-icon:hover{
      color:#ff4c68 ;
  }